#header
  .content 
    %ul 
      %li
        %a.rotate-60{:href => "#"} Home
      %li 
        %a.rotate-60{:href => "#"} News
      %li 
        %a.rotate-60{:href => "#"} Issues
      %li 
        %a.rotate-60{:href => "#"} Blog
      %li 
        %a.rotate-60{:href => "#"} About Me
#content
  .content
